input.ng-invalid.ng-touched {
    border-color: rgba(255, 10, 29, 1) !important;
    box-shadow: none !important;
}

select.ng-invalid.ng-touched {
    border-color: rgba(255, 10, 29, 1) !important;
    box-shadow: none !important;
}

input.ng-invalid.ng-touched:focus {
    border : 1px solid #ced4da;
}

select.ng-invalid.ng-touched:focus {
    border : 1px solid #ced4da;
}

.required {
    color: red;
  }