<div class="container">
  <div class="col-xl-12">
    <app-card cardTitle="Create Lease" [options]="false">
      <form [formGroup]="leaseform">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Choose a Property<span class="required">*</span></label>
              <select class="form-control" formControlName="p_prop_id">
                <option *ngFor="let element of propdet" [value]="element.prop_id">{{element.prop_name}}</option>
              </select>
              <div *ngIf="f.p_prop_id.touched && f.p_prop_id.invalid" class="alert alert-danger">
                <div *ngIf="f.p_prop_id.errors?.required">Select a Property.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Choose a Tenant<span class="required">*</span></label>
              <select class="form-control" name="p_tenant_id" formControlName="p_tenant_id">
                <option *ngFor="let element of tenant" [value]="element.tenant_id">{{element.tnt_fullname}}</option>
              </select>
              <div *ngIf="f.p_tenant_id.touched && f.p_tenant_id.invalid" class="alert alert-danger">
                <div *ngIf="f.p_tenant_id.errors?.required">Select a Tenant.</div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="LeaseName">Lease name<span class="required">*</span></label>
              <input name="p_contract_name" type="text" class="form-control" placeholder="Enter Lease name"
                formControlName="p_contract_name">
              <div *ngIf="f.p_contract_name.touched && f.p_contract_name.invalid" class="alert alert-danger">
                <div *ngIf="f.p_contract_name.errors?.required">Lease name is required.</div>
              </div>
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Select Start Date<span class="required">*</span></label>
              <input class="form-control" #p_cont_from="bsDatepicker" bsDatepicker formControlName="p_cont_from"
                [bsConfig]="datepickerConfig"
                placeholder="MM-DD-YYYY">
              <div *ngIf="f.p_cont_from.touched && f.p_cont_from.invalid" class="alert alert-danger">
                <div *ngIf="f.p_cont_from.errors?.required">Select Start Date.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Select End Date<span class="required">*</span></label>
              <input class="form-control" #p_cont_to="bsDatepicker" bsDatepicker formControlName="p_cont_to"
                [bsConfig]="datepickerConfig"
                placeholder="MM-DD-YYYY">
              <div *ngIf="f.p_cont_to.touched && f.p_cont_to.invalid" class="alert alert-danger">
                <div *ngIf="f.p_cont_to.errors?.required">Select End Date.</div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Select Start Date<span class="required">*</span></label>
              <input type="date" id="localDatetimeDefault" class="form-control" placeholder="Start Date"
                name="p_cont_from" formControlName="p_cont_from">
              <div *ngIf="f.p_cont_from.touched && f.p_cont_from.invalid" class="alert alert-danger">
                <div *ngIf="f.p_cont_from.errors?.required">Select Start Date.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Select End Date<span class="required">*</span></label>
              <input type="date" id="localDatetimeDefault" class="form-control" placeholder="Start Date"
                name="p_cont_to" formControlName="p_cont_to">
              <div *ngIf="f.p_cont_to.touched && f.p_cont_to.invalid" class="alert alert-danger">
                <div *ngIf="f.p_cont_to.errors?.required">Select End Date.</div>
              </div>
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="LastName">Monthly Rent<span class="required">*</span></label>
              <input name="p_rent_amt" type="text" class="form-control" placeholder="Enter Monthly Rent in USD"
                formControlName="p_rent_amt">
              <div *ngIf="f.p_rent_amt.touched && f.p_rent_amt.invalid" class="alert alert-danger">
                <div *ngIf="f.p_rent_amt.errors?.required">Enter Monthly Rent</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="comments">Notes</label>
              <textarea id="comments" type="text" class="form-control" placeholder="Enter comments"
                formControlName="p_comments"></textarea>
            </div>
          </div>
          <div class="col-md-6" *ngIf="isShowCheckBox">
            <div class="form-group">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked formControlName="p_active">
                <label for="checkbox-fill-a1" class="cr">Active</label>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <button class="btn btn-primary" type="submit" (click)="createlease()">Submit</button>
          <button class="btn btn-danger" type="button" [routerLink]="['/lease/search']">Back</button>
        </div>
      </form>
    </app-card>
  </div>
</div>