<!-- <div class="container">
  <div class="col-md-3">
    
  </div>
</div> -->
<div class="form-group">
  <button class="btn btn-primary" [routerLink]="['/property/add/addproperty']">Add Property</button>
</div>
<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Property" [options]="false" blockClass="table-border-style">
      <div class="row">
        <div class="col-md-6" style="float: right;">
          <div class="form-group">
            <input type="text" placeholder="Search..." [(ngModel)]="searchText" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <b>Data is filtered by : {{searchText}}</b>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Add Income/Expenditure</th>
              <th>Property Owner</th>
              <th>Property Address</th>
              <th>State</th>
              <th>Zip Code</th>
              <th>Action</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of propdet | filter:searchText | paginate: { id: 'foo',
            itemsPerPage: 10,
            currentPage: p,
            totalItems: totalRecords }">
              <td>
                <a (click)="addIncomeForProperty(element.prop_id)">Add Income</a><br>
                <a (click)="addExpenseForProperty(element.prop_id)">Add Expenditure</a>
              </td>
              <td>{{element.owner_fullname}}</td>
              <td>{{element.prop_address1}}</td>
              <td>{{element.state_name}}</td>
              <td>{{element.prop_zip_code}}</td>
              <td><button type="button" class="btn btn-default" (click)="editProperty(element)"><i class="fas fa-edit"
                    title="Edit"></i></button></td>
              <td>
                <div class="checkbox checkbox-fill d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="{{element.active}}"
                    disabled>
                  <label for="checkbox-fill-a1" class="cr"></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="float-right">
          <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </app-card>
  </div>
</div>