<div class="form-group">
  <button class="btn btn-primary" [routerLink]="['/tenant/add/addtenant']">Add New</button>
</div>
<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Tenant" [options]="false" blockClass="table-border-style">
      <div class="row">
        <div class="col-md-6" style="float: right;">
          <div class="form-group">
            <input type="text" placeholder="Search by Tenant's Last Name" [(ngModel)]="searchText" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <b>Data is filtered by Tenant's Last Name : {{searchText}}</b>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-borderless" id="subs-table">
          <tr>
            <th>#</th>
            <th>Tenant Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
            <th>Active</th>
          </tr>
          <ng-container *ngFor="let element of tenant | filter:searchText | paginate: { id: 'foo',
          itemsPerPage: 10,
          currentPage: p,
          totalItems: totalRecords }">
            <tr>
              <td>
                <button class="btn btn-default" type="button" data-toggle="collapse"
                  [attr.data-target]="'#collapse-' + element.tenant_id" [attr.aria-expanded]="false"
                  [attr.aria-controls]="'collapse-' + element.tenant_id"><i
                    class="feather icon-chevron-right"></i></button>
              </td>
              <td>{{element.tnt_fullname}}</td>
              <td>{{element.tnt_mail}}</td>
              <td>{{element.tnt_phone}}</td>
              <td>
                <button type="button" class="btn btn-default" (click)="editTenant(element.tenant_id)"><i
                    class="fas fa-edit" title="Edit"></i></button>
              </td>
              <td>
                <div class="checkbox checkbox-fill d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="{{element.active}}"
                    disabled>
                  <label for="checkbox-fill-a1" class="cr"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="4" class="collapse-row">
                <div [attr.id]="'collapse-' + element.tenant_id" class="container collapse out">
                  <div class="row">
                    <div class="col"><button class="btn btn-secondary">Details</button></div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
    </app-card>
  </div>
</div>