<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <p>Thank you for your interest in our product. Our Internal Team will reach out
            within 24 hours. Please fill the below details</p>
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Contact us</h3>
        <form [formGroup]="form">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="FirstName" name="p_fname" formControlName="p_fname">
          </div>
          <span class="text-danger" *ngIf="f.p_fname.touched && f.p_fname.errors?.required">Please Enter FirstName.</span>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="LastName" name="p_lname" formControlName="p_lname">
          </div>
          <span class="text-danger" *ngIf="f.p_lname.touched && f.p_lname.errors?.required">Please Enter LastName.</span>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="CompanyName" name="p_comp_name" formControlName="p_comp_name">
          </div>
          <span class="text-danger" *ngIf="f.p_comp_name.touched && f.p_comp_name.errors?.required">Please Enter CompanyName.</span>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="p_mail" formControlName="p_mail">
          </div>
          <span class="text-danger" *ngIf="f.p_mail.touched && f.p_mail.errors?.required">Please enter email address.</span>
          <span class="text-danger" *ngIf="f.p_mail.touched && f.p_mail.errors?.email">Please enter valid email address.</span>
          <div class="input-group mb-4">
            <input type="number" class="form-control" placeholder="Contact-Phone" name="p_phone" formControlName="p_phone">
          </div>
          <span class="text-danger" *ngIf="f.p_phone.touched && f.p_phone.errors?.required">Please Enter Phone Number.</span>
        </form>
        <button class="btn btn-primary shadow-2 mb-4" (click)="contactUs()" type="submit">Submit</button>
        <p class="mb-0 text-muted">Already have an account? <a [routerLink]="['/auth/signin']"> Log in</a></p>
      </div>
    </div>
  </div>
</div>