<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Add income" [options]="false" blockClass="table-border-style">
      <form [formGroup]="incomeform">
        <div class="form-group row">
          <div class="col-sm-3">
            <label class="form-label">Select Property<span class="required">*</span></label>
          </div>
          <div class="col-sm-9">
            <select name="p_prop_id" class="form-control" formControlName="p_prop_id">
              <option *ngFor="let element of propdet" [value]="element.prop_id">{{element.prop_name}}</option>
            </select>
            <span class="text-danger" *ngIf="f.p_prop_id.touched && f.p_prop_id.errors?.required">Please Select
              Property</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <label class="form-label">Select Income Type<span class="required">*</span></label>
          </div>
          <div class="col-sm-9">
            <select name="p_prop_id" class="form-control" formControlName="p_inc_type">
              <option *ngFor="let element of ddlistname" [value]="element.dd_det_id">{{element.dd_value}}</option>
            </select>
            <span class="text-danger" *ngIf="f.p_inc_type.touched && f.p_inc_type.errors?.required">Please Select Income
              Type</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="income">Income<span class="required">*</span></label>
          </div>
          <div class="col-sm-9">
            <input name="p_rent_amt" type="number" class="form-control" placeholder="Enter Income in USD" id="income"
              formControlName="p_inc_amt">
            <span class="text-danger" *ngIf="f.p_inc_amt.touched && f.p_inc_amt.errors?.required">Enter Income</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="incdoc">Upload Income Document</label>
          </div>
          <div class="col-sm-9">
            <input type="file" #fileUploader id="inputGroupFile04" (change)="getBase64($event)" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="comments">Notes</label>
          </div>
          <div class="col-sm-9">
            <textarea id="comments" type="text" class="form-control" placeholder="Enter comments"></textarea>
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="form-group">
            <div class="checkbox checkbox-fill d-inline">
              <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked disabled>
              <label for="checkbox-fill-a1" class="cr">Active</label>
            </div>
          </div>
        </div>
        <div style="text-align: center;" class="mt-5">
          <button class="btn btn-primary" type="submit" (click)="addIncome()">Submit</button>
          <button class="btn btn-danger" type="button">Back</button>
        </div>
      </form>
    </app-card>
  </div>
</div>