<div class="row">
  <div class="col-sm-12 col-md-12">
    <app-wizard-basic></app-wizard-basic>
  </div>
  <!-- <div class="col-sm-12 col-md-6">
    <app-wizard-navbar-lg></app-wizard-navbar-lg>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-wizard-navbar-lg-icon></app-wizard-navbar-lg-icon>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-wizard-custom></app-wizard-custom>
  </div>
  <div class="col-sm-12">
    <app-wizard-navbar-left></app-wizard-navbar-left>
  </div>
  <div class="col-sm-12">
    <app-wizard-navbar-right></app-wizard-navbar-right>
  </div> -->
</div>
