<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h5 class="mb-4">Change Password</h5>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Current Password" [(ngModel)]="cp.p_usr_pswd_old">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="New Password" [(ngModel)]="cp.p_usr_pswd_new">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Re-enter New Password" [(ngModel)]="reEnterPswd">
        </div>
        <button class="btn btn-primary mb-4" (click)="changePassword()" type="submit">Change Password</button>
      </div>
    </div>
  </div>
</div>
