<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Company" [options]="false" blockClass="table-border-style">
      <div class="col-md-6" style="float: right;">
        <div class="form-group">
          <input type="text" placeholder="Search..." [(ngModel)]="searchText" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <b>Data is filtered by : {{searchText}}</b>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Admin Full Name</th>
              <th>Email</th>
              <th>Company Address</th>
              <th>City</th>
              <th>ZipCode</th>
              <th>Action</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companyDetails | filter:searchText | paginate: { id: 'foo',
              itemsPerPage: 10,
              currentPage: p,
              totalItems: totalRecords }">
              <td>{{company.comp_name}}</td>
              <td>{{company.admin_full_name}}</td>
              <td>{{company.comp_email}}</td>
              <td>{{company.comp_address}}</td>
              <td>{{company.city_name}}</td>
              <td>{{company.comp_zip}}</td>
              <td>
                <button type="button" class="btn btn-default" (click)="editcompany(company)"><i class="fas fa-edit"
                    title="Edit"></i></button>
              </td>
              <td>
                <div class="checkbox checkbox-fill d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="{{company.active}}"
                    disabled>
                  <label for="checkbox-fill-a1" class="cr"></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="float-right">
          <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </app-card>
  </div>