<div class="row">
  <div class="form-group">
    <button class="btn btn-primary" [routerLink]="['/owner/add/addowner']">Add
      New</button>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Owners" [options]="false" blockClass="table-border-style">
      <div class="col-md-6" style="float: right;">
        <div class="form-group">
          <input type="text" id="searchitem" placeholder="Search..." [(ngModel)]="searchText" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <b>Properties with Owner's Last Name: {{ searchText }}</b>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-borderless" id="subs-table">
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Owner Name</th>
            <th>Phone Number</th>
            <th>Property Name</th>
            <th>Action</th>
            <th>Active</th>
          </tr>
          <ng-container *ngFor="let element of ownerdet | filter:searchText | paginate: { id: 'foo',itemsPerPage: 10,
          currentPage: p,
          totalItems: totalRecords}">
            <tr>
              <td>
                <button class="btn btn-default" type="button" data-toggle="collapse"
                  [attr.data-target]="'#collapse-' + element.owner_id" [attr.aria-expanded]="false"
                  [attr.aria-controls]="'collapse-' + element.owner_id"><i
                    class="feather icon-chevron-right"></i></button>
              </td>
              <td>{{element.owner_mail}}</td>
              <td>{{element.owner_fullname}}</td>
              <td>{{element.owner_phone}}</td>
              <td>{{element.prop_name}}</td>
              <td>
                <button type="button" class="btn btn-default" (click)="editOwner(element)"><i class="fas fa-edit"
                    title="Edit"></i></button>
              </td>
              <td>
                <div class="checkbox checkbox-fill d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="{{element.active}}"
                    disabled>
                  <label for="checkbox-fill-a1" class="cr"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="4" class="collapse-row">
                <div [attr.id]="'collapse-' + element.owner_id" class="container collapse out">
                  <div class="row">
                    <div class="col"><button class="btn btn-secondary"
                        [routerLink]="['/owner/add/uploadw9', element.owner_id]">Details</button></div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </table>
        <div class="float-right">
          <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </app-card>
  </div>
</div>