/* The grid: Three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.containerTab {
    padding: 20px;
    color: white;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the container tab */

.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
    color: red;
}

/* .break {
    word-break: break-all;
} */

/* Sets button text when clicked. Should combine these later with wildcards */
/* #subs-table .btn-primary:before {
    content:'Click for details';
}
#subs-table .btn-primary[aria-expanded="true"]:before {
    content:'Close Details';
} */
/* Styling of the collapsible row */
#subs-table td.collapse-row {
    border-style: none;
    padding: 0;
}