<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Reports" [options]="false" blockClass="table-border-style">
      <div class="table-responsive-md">
        <table class="table table-bordered">
          <thead style="text-align: center;">
            <th>Report#</th>
            <th>Report Name</th>
            <th>Reports Description</th>
            <th>Action</th>
          </thead>
          <tbody style="text-align: center;">
            <tr>
              <td>1</td>
              <td>Property Reports</td>
              <td>List of Active Property Reports</td>
              <td><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target=".bd-example-modal-xl" (click)="getActiveProperty()"><i
                    class="fas fa-eye"></i>View</button></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Owner Reports</td>
              <td>List of Active Owners</td>
              <td><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target=".bd-owners-modal-xl" (click)="getActiveOwner()"><i class="fas fa-eye"></i>View</button>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Tenant Reports</td>
              <td>List of Active Tenants</td>
              <td><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target=".bd-tenant-modal-xl" (click)="getActiveTenant()"><i class="fas fa-eye"></i>View</button>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Lease Reports</td>
              <td>List of Active Lease</td>
              <td><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target=".bd-lease-modal-xl" (click)="getLease()"><i class="fas fa-eye"></i>View</button></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Monthly Rent Reports</td>
              <td>Search Monthly Rent Reports</td>
              <td><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target=".bd-mon-modal-xl" (click)="openRentReport()"><i class="fas fa-eye"></i>View</button>
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>Generate 1099 Form</td>
              <td>Captured 1099 Data</td>
              <td><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target=".bd-generate-modal-xl" (click)="generate1099Form()">Generate</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

<!-- Properties Reports Model -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" [ngClass]="{'show': showModal}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Properties</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showModal=false">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-dark" (click)="downloadCSV('property')">CSV</button>
            <button type="button" class="btn btn-dark" (click)="generatePDF('property')">PDF</button>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" placeholder="Search..." [(ngModel)]="searchProperty" class="form-control">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Property Name</th>
                <th>Country</th>
                <th>State</th>
                <th>County</th>
                <th>City</th>
                <th>Property Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of result1 | filter:searchProperty | paginate: { id: 'foo',
              itemsPerPage: 10,
              currentPage: p,
              totalItems: totalProperties }">
                <td>{{element.prop_name}}</td>
                <td>{{element.country_name}}</td>
                <td>{{element.state_name}}</td>
                <td>{{element.county_name}}</td>
                <td>{{element.city_name}}</td>
                <td>{{element.proptype}}</td>
              </tr>
            </tbody>
          </table>
          <div class="float-right">
            <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showModal=false">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Owner Reports Modal -->
<div class="modal fade bd-owners-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" [ngClass]="{'show': showOwners}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Owners</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showOwners=false">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-dark" (click)="downloadCSV('owner')">CSV</button>
            <button type="button" class="btn btn-dark" (click)="generatePDF('owner')">PDF</button>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" placeholder="Search..." [(ngModel)]="searchOwner" class="form-control">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Owner Name</th>
                <th>Owner Mail</th>
                <th>Owner Address</th>
                <th>State</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of result2 | filter:searchOwner | paginate: { id: 'foo',
              itemsPerPage: 10,
              currentPage: p,
              totalItems: totalOwners }">
                <td>{{element.owner_fullname}}</td>
                <td>{{element.owner_mail}}</td>
                <td>{{element.owner_address}}</td>
                <td>{{element.state_name}}</td>
              </tr>
            </tbody>
          </table>
          <div class="float-right">
            <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showOwners=false">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Tenant Reports Modal -->
<div class="modal fade bd-tenant-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true" [ngClass]="{'show': showTenant}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tenants</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showTenant=false">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-dark" (click)="downloadCSV('tenant')">CSV</button>
            <button type="button" class="btn btn-dark" (click)="generatePDF('tenant')">PDF</button>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" placeholder="Search..." [(ngModel)]="searchTenant" class="form-control">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Tenant Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <td>Tenant Type</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of result3 | filter:searchTenant | paginate: { id: 'foo',
              itemsPerPage: 10,
              currentPage: p,
              totalItems: totalTenant }">
                <td>{{element.tnt_fullname}}</td>
                <td>{{element.tnt_mail}}</td>
                <td>{{element.tnt_phone}}</td>
                <td>{{element.tnt_type}}</td>
              </tr>
            </tbody>
          </table>
          <div class="float-right">
            <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showTenant=false">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Lease Reports Modal -->
<div class="modal fade bd-lease-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true" [ngClass]="{'show': showLease}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lease</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showLease=false">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-dark" (click)="downloadCSV('lease')">CSV</button>
            <button type="button" class="btn btn-dark" (click)="generatePDF('lease')">PDF</button>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" placeholder="Search..." [(ngModel)]="searchLease" class="form-control">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Tenant Name</th>
                <th>Property Name</th>
                <th>Tenant Type</th>
                <th>Start Date</th>
                <th>End date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of result5 | filter:searchLease | paginate: { id: 'foo',
              itemsPerPage: 10,
              currentPage: p,
              totalItems: totalLease }">
                <td>{{element.tnt_fullname}}</td>
                <td>{{element.prop_name}}</td>
                <td>{{element.tnt_type}}</td>
                <td>{{element.cont_from | date:"MM/dd/yyyy"}}</td>
                <td>{{element.cont_to | date:"MM/dd/yyyy"}}</td>
              </tr>
            </tbody>
          </table>
          <div class="float-right">
            <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showLease=false">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Monthly Rent Reports -->
<div class="modal fade bd-mon-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true" [ngClass]="{'show': showRent}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Monthly Rent</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showRent=false">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <input class="form-control" #p_cont_from="bsDatepicker" bsDatepicker [bsConfig]="datepickerConfig"
              placeholder="Enter From Date" [(ngModel)]="fromDate">
          </div>
          <div class="col-md-3">
            <input class="form-control" #p_cont_to="bsDatepicker" bsDatepicker [bsConfig]="datepickerConfig"
              placeholder="Enter To Date" [(ngModel)]="toDate">
          </div>
          <button type="button" class="btn btn-outline-primary" (click)="generateMonthlyRentReport()"><i
              class="fa fa-search" aria-hidden="true"></i>Search</button>
          <button type="button" class="btn btn-dark" (click)="downloadCSV('rent')">CSV</button>
          <button type="button" class="btn btn-dark" (click)="generatePDF('rent')">PDF</button>
        </div>
        <div class="table-responsive">
          <table id="rent" class="table table-striped">
            <tr>
              <th *ngFor="let col of columns">
                {{col}}
              </th>
            </tr>
            <tr *ngFor="let element of rentDetails">
              <td>{{element.owner_name}}</td>
              <td>{{element.property_address}}</td>
              <td>{{element.income_amt}}</td>
              <td>{{element.expense_amt}}</td>
              <td>{{element.net_amt}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showRent=false">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Generate 1099 Form -->
<div class="modal fade bd-generate-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" [ngClass]="{'show': show1099}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Generate 1099 Form</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="show1099=false">&times;</button>
      </div>

      <div class="modal-body">
        <div class="row" style="margin-left: 5%;">
          <label class="form-label">Select Property Owner</label>
          <div class="col-md-4">
            <select name="p_prop_id" class="form-control">
              <option value="1">---Property Owner Name---</option>
            </select>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="show1099=false">Cancel</button>
      </div>
    </div>
  </div>
</div>