.modal.show {
    display: block;
}

.modal.showowner {
    display: block;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}