<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="{{ title }}" [options]="false">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Company type<span class="required">*</span></label>
              <select class="form-control" formControlName="p_comp_type" name="p_comp_type">
                <option *ngFor="let element of ddlistname" [value]="element.dd_det_id">{{element.dd_value}}</option>
              </select>
              <span class="text-danger" *ngIf="f.p_comp_type.touched && f.p_comp_type.errors?.required">Please Select
                Company type</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Enter Company Name<span class="required">*</span></label>
              <input formControlName="p_comp_name" id="comp_name" type="text" class="form-control"
                placeholder="Enter Company Name">
              <span class="text-danger" *ngIf="f.p_comp_name.touched && f.p_comp_name.errors?.required">Please Enter
                Company Name</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Contact Email Address(Same as Username)<span class="required">*</span></label>
              <input type="email" formControlName="p_comp_mail" id="email" type="text" class="form-control"
                placeholder="Enter Email Address">
              <span class="text-danger" *ngIf="f.p_comp_mail.touched && f.p_comp_mail.errors?.required">Please enter
                email address.</span>
              <span class="text-danger" *ngIf="f.p_comp_mail.touched && f.p_comp_mail.errors?.email">Please enter valid
                email address.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Company Admin First name<span class="required">*</span></label>
              <input type="text" formControlName="p_admin_fname" type="text" class="form-control" id="ContactName"
                aria-describedby="ContactName" placeholder="Enter Admin First name">
              <span class="text-danger" *ngIf="f.p_admin_fname.touched && f.p_admin_fname.errors?.required">First Name
                is
                required.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Company Admin Last name<span class="required">*</span></label>
              <input type="text" formControlName="p_admin_lname" type="text" class="form-control" id="ContactName"
                aria-describedby="ContactName" placeholder="Enter Admin Last name">
              <span class="text-danger" *ngIf="f.p_admin_lname.touched && f.p_admin_lname.errors?.required">Last Name is
                required.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Company Admin Middle name</label>
              <input formControlName="p_admin_mname" type="text" class="form-control" id="ContactName"
                aria-describedby="ContactName" placeholder="Enter Admin Middle name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Company Contact Phone Number<span class="required">*</span></label>
              <input id="comp_number" type="text" class="form-control" placeholder="Enter Contact Phone Number"
                formControlName="p_comp_phone" appPhoneMask maxlength="12">
              <span class="text-danger" *ngIf="f.p_comp_phone.touched && f.p_comp_phone.errors?.required">Contact Number
                is required.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="p_comp_tin_number">Company Tax Identification Number</label>
              <input formControlName="p_comp_tin_number" type="text" class="form-control" id="p_comp_tin_number"
                aria-describedby="ContactName" placeholder="Enter Company Tax Identification Number">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Company Admin Password<span class="required">*</span></label>
              <input formControlName="p_admin_pswd" type="password" class="form-control" id="ContactName"
                aria-describedby="ContactName" placeholder="Enter Admin Password">
              <span class="text-danger" *ngIf="f.p_admin_pswd.touched && f.p_admin_pswd.errors?.required">Password is
                required.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Confirm Admin Password<span class="required">*</span></label>
              <input formControlName="confirmPassword" type="password" class="form-control" id="reEnterPswd"
                aria-describedby="reEnterPswd" placeholder="Re-Enter Admin Password">
              <span class="text-danger" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.required">
                Confirm Password is required
              </span>
              <span class="text-danger" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
                Passwords does not match
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Country<span class="required">*</span></label>
              <select class="form-control" formControlName="p_country" (change)="OnCountrySelect($event)">
                <option *ngFor="let element of country" [value]="element.country_id">{{element.country_name}}</option>
              </select>
              <span class="text-danger" *ngIf="f.p_country.touched && f.p_country.errors?.required">Please Select
                Country</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">State<span class="required">*</span></label>
              <select formControlName="p_state" class="form-control" name="p_state" (change)="OnStateSelect($event)">
                <option *ngFor="let element of state" [value]="element.state_id">{{element.state_name}}</option>
              </select>
              <span class="text-danger" *ngIf="f.p_state.touched && f.p_state.errors?.required">Please Select
                State</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">County<span class="required">*</span></label>
              <select class="form-control" formControlName="p_county" name="p_county" (change)="OnCountySelect($event)">
                <option *ngFor="let element of county" [value]="element.county_id">{{element.county_name}}</option>
              </select>
              <span class="text-danger" *ngIf="f.p_county.touched && f.p_county.errors?.required">Please Select
                County</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">City<span class="required">*</span></label>
              <select class="form-control" formControlName="p_city" name="p_city" (change)="OnCitySelect($event)">
                <option>----------Select City-------------</option>
                <option *ngFor="let element of city" [value]="element.city_name">{{element.city_name}}</option>
              </select>
              <span class="text-danger" *ngIf="f.p_city.touched && f.p_city.errors?.required">Please Select City</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Zip Code<span class="required">*</span></label>
              <input formControlName="p_zipcode" type="text" class="form-control" placeholder="Zip Code"
                [typeahead]="zipCode" [typeaheadOptionsLimit]="9" [typeaheadMinLength]="0" appZipcode maxlength="10">
              <span class="text-danger" *ngIf="f.p_zipcode.touched && f.p_zipcode.errors?.required">Please enter Zip
                Code.</span>
            </div>
            <!-- [textMask]="{mask: maskZipCode}" -->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="body">Company Address<span class="required">*</span></label>
              <textarea formControlName="p_comp_address" id="body" type="text" class="form-control"></textarea>
              <span class="text-danger" *ngIf="f.p_comp_address.touched && f.p_comp_address.errors?.required">Address is
                required.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="comments">Comments</label>
              <textarea id="comments" type="text" class="form-control" placeholder="Enter comments"
                formControlName="p_comments"></textarea>
            </div>
          </div>
          <div class="col-md-3 mt-5">
            <div class="form-group" *ngIf="isSubmitted">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked disabled>
                <label for="checkbox-fill-a1" class="cr">Active</label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mt-5">
            <div class="form-group">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" formControlName="p_lock">
                <label for="checkbox-fill-a1" class="cr">Account Lock</label>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-5" *ngIf="showCheckbox">
            <div class="form-group">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" formControlName="p_active">
                <label for="checkbox-fill-a1" class="cr">Active</label>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <button class="btn btn-primary" type="submit" (click)="addCompany()">Submit</button>
          <button class="btn btn-danger" type="button" [routerLink]="['/default/adduser/search']">Back</button>
        </div>
      </form>
    </app-card>
  </div>
</div>