input.ng-invalid.ng-touched {
    border-color: rgba(255, 10, 29, 1) !important;
    box-shadow: none !important;
}

select.ng-invalid.ng-touched {
    border-color: rgba(255, 10, 29, 1) !important;
    box-shadow: none !important;
}

textarea.ng-invalid.ng-touched {
    border-color: rgba(255, 10, 29, 1) !important;
    box-shadow: none !important;
}

input.ng-invalid.ng-touched:focus {
    border: 0;
}

select.ng-invalid.ng-touched:focus {
    border: 0;
}

textarea.ng-invalid.ng-touched:focus {
    border: 0;
}

.required {
    color: red;
  }