<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Add New Owner" [options]="false">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Owner's First Name<span class="required">*</span></label>
              <input name="p_usr_email" id="email" type="text" class="form-control" placeholder="Enter Owner First name"
                formControlName="p_usr_fname">
              <span class="text-danger" *ngIf="f.p_usr_fname.touched && f.p_usr_fname.errors?.required">First Name is
                required</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Owner's Last name<span class="required">*</span></label>
              <input name="p_usr_fname" type="text" class="form-control" id="ContactName" aria-describedby="ContactName"
                placeholder="Enter Owner's Last name" formControlName="p_usr_lname">
              <span class="text-danger" *ngIf="f.p_usr_lname.touched && f.p_usr_lname.errors?.required">Last Name is
                required</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Owner's Email<span class="required">*</span></label>
              <input name="p_usr_lname" type="email" class="form-control" id="ContactName"
                aria-describedby="ContactName" placeholder="Enter Owner's e-mail" formControlName="p_usr_email">
              <span class="text-danger" *ngIf="f.p_usr_email.touched && f.p_usr_email.errors?.required">Please enter
                email address.</span>
              <span class="text-danger" *ngIf="f.p_usr_email.touched && f.p_usr_email.errors?.email">Please enter valid
                email address.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Country<span class="required">*</span></label>
              <select class="form-control" formControlName="p_country" name="p_country"
                (change)="OnCountrySelect($event)">
                <option *ngFor="let element of country" [value]="element.country_id">{{element.country_name}}
                </option>
              </select>
              <div *ngIf="f.p_country.touched && f.p_country.invalid" class="alert alert-danger">
                <div *ngIf="f.p_country.errors?.required">Select Country from the list.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">State<span class="required">*</span></label>
              <select class="form-control" formControlName="p_state" name="p_state" (change)="OnStateSelect($event)">
                <option *ngFor="let element of state" [value]="element.state_id">{{element.state_name}}</option>
              </select>
              <div *ngIf="f.p_state.touched && f.p_state.invalid" class="alert alert-danger">
                <div *ngIf="f.p_state.errors?.required">Select State from the list.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">County<span class="required">*</span></label>
              <select class="form-control" formControlName="p_county" name="p_county" (change)="OnCountySelect($event)">
                <option *ngFor="let element of county" [value]="element.county_id">{{element.county_name}}</option>
              </select>
              <div *ngIf="f.p_county.touched && f.p_county.invalid" class="alert alert-danger">
                <div *ngIf="f.p_county.errors?.required">Select County from the list.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">City<span class="required">*</span></label>
              <select class="form-control" formControlName="p_city" name="p_city" (change)="OnCitySelect($event)">
                <option>----------Select City-------------</option>
                <option *ngFor="let element of city" [value]="element.city_name">{{element.city_name}}</option>
              </select>
              <div *ngIf="f.p_city.touched && f.p_city.invalid" class="alert alert-danger">
                <div *ngIf="f.p_city.errors?.required">Select City from the list.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Zip Code<span class="required">*</span></label>
              <input type="text" class="form-control" formControlName="p_zip" name="p_zip" [typeahead]="zipCode"
                [typeaheadOptionsLimit]="9" [typeaheadMinLength]="0" appZipcode placeholder="Zip Code">
            </div>
            <div *ngIf="f.p_zip.touched && f.p_zip.invalid" class="alert alert-danger">
              <div *ngIf="f.p_zip.errors?.required">Enter Zip Code.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="body">Owner Address<span class="required">*</span></label>
              <textarea type="text" class="form-control" formControlName="p_address" name="p_address">
                </textarea>
              <div *ngIf="f.p_address.touched && f.p_address.invalid" class="alert alert-danger">
                <div *ngIf="f.p_address.errors?.required">Enter Owner Address.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Owner Contact Number<span class="required">*</span></label>
              <input [textMask]="{mask: maskTeleUS}" name="p_usr_lname" type="text" class="form-control"
                id="ContactName" aria-describedby="ContactName" formControlName="p_usr_phone">
              <span class="text-danger" *ngIf="f.p_usr_phone.touched && f.p_usr_phone.errors?.required">Please enter
                Owner Contact Number.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Assign to Property<span class="required">*</span></label>
              <select name="p_prop_id" formControlName="p_prop_id" class="form-control">
                <option *ngFor="let element of propdet" [value]="element.prop_id">{{element.prop_name}}</option>
              </select>
              <span class="text-danger" *ngIf="f.p_prop_id.touched && f.p_prop_id.errors?.required">Select a
                Property</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="comments">Notes</label>
              <textarea id="comments" type="text" class="form-control" placeholder="Enter comments"
                formControlName="p_comments"></textarea>
            </div>
          </div>
          <div class="col-md-6 mt-5" *ngIf="isSubmitted">
            <div class="form-group">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked disabled>
                <label for="checkbox-fill-a1" class="cr">Active</label>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-5" *ngIf="isShowCheckBox">
            <div class="form-group">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked formControlName="p_active">
                <label for="checkbox-fill-a1" class="cr">Active</label>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <button class="btn btn-primary" type="submit" (click)="addOwner()">Submit</button>
          <button class="btn btn-danger" type="button" [routerLink]="['/owner/add']">Back</button>
        </div>
      </form>
    </app-card>
  </div>
</div>