<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="{{title}}" [options]="false">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email<span class="required">*</span></label>
              <input formControlName="p_usr_email" id="email" type="email" class="form-control"
                placeholder="Enter E-mail Address">
              <div *ngIf="f.p_usr_email.touched && f.p_usr_email.invalid" class="alert alert-danger">
                <div *ngIf="f.p_usr_email.errors?.required">Email is required.</div>
                <div *ngIf="f.p_usr_email.errors?.email">Please enter valid email address.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">First name<span class="required">*</span></label>
              <input formControlName="p_usr_fname" type="text" class="form-control"
                placeholder="Enter Admin First name">
              <div *ngIf="f.p_usr_fname.touched && f.p_usr_fname.invalid" class="alert alert-danger">
                <div *ngIf="f.p_usr_fname.errors?.required">First name is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Last name<span class="required">*</span></label>
              <input formControlName="p_usr_lname" type="text" class="form-control" placeholder="Enter Admin Last name">
              <div *ngIf="f.p_usr_lname.touched && f.p_usr_lname.invalid" class="alert alert-danger">
                <div *ngIf="f.p_usr_lname.errors?.required">Last name is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Middle name</label>
              <input formControlName="p_usr_mname" type="text" class="form-control"
                placeholder="Enter Admin Middle name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Password<span class="required">*</span></label>
              <input formControlName="p_pswd" type="password" class="form-control" placeholder="Enter Password">
              <div *ngIf="f.p_pswd.touched && f.p_pswd.invalid" class="alert alert-danger">
                <div *ngIf="f.p_pswd.errors?.required">Password is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Confirm Password<span class="required">*</span></label>
              <input formControlName="confirmPassword" type="password" class="form-control" id="reEnterPswd"
                aria-describedby="reEnterPswd" placeholder="Re-Enter Password">
              <span class="text-danger" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.required">
                Confirm Password is required
              </span>
              <span class="text-danger" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
                Password does not Match, Try Again
              </span>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Role</label>
              <select formControlName="p_role" class="form-control" name="p_role">
                <option *ngFor="let element of ddlistname" [value]="element.dd_det_id">{{element.dd_value}}</option>
              </select>
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Select User Role<span class="required">*</span></label>
              <select class="form-control" formControlName="p_role" name="p_role">
                <option *ngFor="let element of ddlistname" [value]="element.dd_det_id">{{element.dd_value}}</option>
              </select>
              <div *ngIf="f.p_role.touched && f.p_role.invalid" class="alert alert-danger">
                <div *ngIf="f.p_role.errors?.required">User Role is required.</div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label for="ContactName">Phone</label>
              <input formControlName="p_usr_phone" type="text" class="form-control"
                aria-describedby="ContactName" placeholder="Enter Phone Number">
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="comments">Notes</label>
              <textarea id="comments" type="text" class="form-control" placeholder="Enter comments"
                formControlName="p_comments"></textarea>
            </div>
          </div>
          <div class="col-md-3 mt-5">
            <div class="form-group" *ngIf="isSubmitted">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked disabled>
                <label for="checkbox-fill-a1" class="cr">Active</label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mt-5">
            <div class="form-group">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" formControlName="p_lock">
                <label for="checkbox-fill-a1" class="cr">Account Lock</label>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-5" *ngIf="isShowCheckBox">
            <div class="form-group">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked=""
                  formControlName="p_active">
                <label for="checkbox-fill-a1" class="cr">Active</label>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <button class="btn btn-primary" type="submit" (click)="addPropertyManager()">Submit</button>
          <button class="btn btn-danger" type="button" [routerLink]="['/manager/add/view']">Back</button>
        </div>
        <!-- <button class="btn btn-info" type="button" (click)="setValue()">Set Default Value</button> -->
        <!-- <button class="btn btn-info" type="button">Reset Value</button> -->
      </form>
    </app-card>
  </div>
</div>