<div class="container">
  <div class="col-xl-12">
    <app-card cardTitle="Add New Tenant" [options]="false">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstname">Tenant's First Name<span class="required">*</span></label>
              <input name="p_usr_email" id="firstname" type="text" class="form-control"
                placeholder="Enter Tenant First name" formControlName="p_tnt_fname">
              <div *ngIf="f.p_tnt_fname.touched && f.p_tnt_fname.invalid" class="alert alert-danger">
                <div *ngIf="f.p_tnt_fname.errors.required">Tenant's First name is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="LastName">Tenant's Last name<span class="required">*</span></label>
              <input name="p_usr_fname" type="text" class="form-control" aria-describedby="ContactName"
                placeholder="Enter Tenant's Last name" formControlName="p_tnt_lname">
              <div *ngIf="f.p_tnt_lname.touched && f.p_tnt_lname.invalid" class="alert alert-danger">
                <div *ngIf="f.p_tnt_lname.errors.required">Tenant's Last name is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Tenant's Email<span class="required">*</span></label>
              <input name="p_usr_lname" type="email" id="email" class="form-control" aria-describedby="ContactName"
                placeholder="Enter Tenant's e-mail" formControlName="p_tnt_email">
              <div *ngIf="f.p_tnt_email.touched && f.p_tnt_email.invalid" class="alert alert-danger">
                <div *ngIf="f.p_tnt_email.errors.required">Email is required.</div>
                <div *ngIf="f.p_tnt_email.errors.email">Please enter valid email address.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cnum">Enter Tenant Contact Number<span class="required">*</span></label>
              <input name="p_usr_lname" type="text" [textMask]="{mask: maskTeleUS}" class="form-control"
                aria-describedby="ContactName" id="cnum" placeholder="Enter Tenant's contact number"
                formControlName="p_tnt_phone">
              <div *ngIf="f.p_tnt_phone.touched && f.p_tnt_phone.invalid" class="alert alert-danger">
                <div *ngIf="f.p_tnt_phone.errors.required">Tenant's Contact Number is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Tenant Type<span class="required">*</span></label>
              <select class="form-control" formControlName="p_tnt_type" name="p_tnt_type">
                <option *ngFor="let element of ddlistname" [value]="element.dd_det_id">{{element.dd_value}}</option>
              </select>
              <div *ngIf="f.p_tnt_type.touched && f.p_tnt_type.invalid" class="alert alert-danger">
                <div *ngIf="f.p_tnt_type.errors.required">Tenant Type is required.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="comments">Notes</label>
              <textarea id="comments" type="text" class="form-control" placeholder="Enter comments"></textarea>
            </div>
          </div>
          <div class="col-md-6 mt-5" *ngIf="isSubmitted">
            <div class="form-group">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked disabled>
                <label for="checkbox-fill-a1" class="cr">Active</label>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="isShowCheckBox">
            <div class="form-group">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked formControlName="p_active">
                <label for="checkbox-fill-a1" class="cr">Active</label>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#leaseModal"
            (click)="addTenant()">Submit</button>
          <button class="btn btn-danger" type="button" [routerLink]="['/tenant/add']">Back</button>
        </div>
      </form>
    </app-card>
  </div>
</div>

<div id="leaseModal" class="modal" [ngClass]="{'lease': showlease}">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showlease=false">&times;</button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Record Saved - Do you want to add a lease?</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" [routerLink]="['/lease']">Go to Lease</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showlease=false">Close</button>
      </div>
    </div>

  </div>
</div>