<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
        <h3 class="mb-4">PMS</h3>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="userData.pusr_login" required>
        </div>
        <div class="input-group mb-4">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="userData.pusr_paswd" required>
        </div>
        <button class="btn btn-primary mb-4" (click)="onLoggedIn()" type="submit">Login</button>
        <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/auth/reset-password']">Reset</a></p>
        <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']">Contact Us</a></p>
      </div>
    </div>
  </div>
</div>
