<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{ title }}">
      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Company name</label>
              <input type="text" class="form-control" name="validation-required" placeholder="Enter Comapny name"
                [ngClass]="{'is-invalid': !requiredInput.valid && (requiredInput.dirty || requiredInput.touched || isSubmit)}"
                #requiredInput="ngModel" required [(ngModel)]="formInput.comp_name">
              <label *ngIf="!requiredInput.valid && (requiredInput.dirty || requiredInput.touched || isSubmit)"
                id="validation-required-error"
                class="error jquery-validation-error small form-text invalid-feedback">This field should be
                required</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="email">Email</label>
              <input class="form-control input-md" id="email" name="email" type="text" placeholder="Enter Email"
                [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isSubmit)}" #email="ngModel"
                required email [(ngModel)]="formInput.email">
              <label *ngIf="!email.valid && (email.dirty || email.touched || isSubmit)" id="validation-email-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid email
                address.</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="validation-password" placeholder="Enter Password"
                [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}"
                #password="ngModel" minlength="6" required [(ngModel)]="formInput.admin_pswd">
              <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)"
                id="validation-password-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid
                password.</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Confirm password</label>
              <input type="password" class="form-control" name="validation-password-confirm"
                placeholder="Enter Confirm Password"
                [ngClass]="{'is-invalid': !confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched || isSubmit)}"
                #confirmPassword="ngModel" [equalTo]="password" [(ngModel)]="formInput.admin_pswd">
              <label *ngIf="!confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched || isSubmit)"
                id="validation-password-confirm-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid confirm
                password.</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" name="validation-url" placeholder="Enter Value"
                [ngClass]="{'is-invalid': !url.valid && (url.dirty || url.touched || isSubmit)}" #url="ngModel" required
                url [(ngModel)]="formInput.admin_fname">
              <label *ngIf="!url.valid && (url.dirty || url.touched || isSubmit)" id="validation-url-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter valid Fname.</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" name="validation-url" placeholder="Enter Value"
                [ngClass]="{'is-invalid': !url.valid && (url.dirty || url.touched || isSubmit)}" #url="ngModel" required
                url [(ngModel)]="formInput.admin_lname">
              <label *ngIf="!url.valid && (url.dirty || url.touched || isSubmit)" id="validation-url-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter valid Lname.</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Middle Name</label>
              <input type="text" class="form-control" name="validation-url" placeholder="Enter Value"
                [ngClass]="{'is-invalid': !url.valid && (url.dirty || url.touched || isSubmit)}" #url="ngModel" required
                url [(ngModel)]="formInput.admin_mname">
              <label *ngIf="!url.valid && (url.dirty || url.touched || isSubmit)" id="validation-url-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter valid Mname.</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Contact Person</label>
              <input type="text" class="form-control" name="validation-phone" placeholder="Enter Contact Number"
                [ngClass]="{'is-invalid': !phone.valid && (phone.dirty || phone.touched || isSubmit)}" #phone="ngModel"
                required maxlength="12" minlength="10" phone="IN" [(ngModel)]="formInput.contact_person">
              <label *ngIf="!phone.valid && (phone.dirty || phone.touched || isSubmit)" id="validation-phone-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter valid contact
                number.</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">City</label>
              <select class="form-control" name="validation-cmbGear"
                [ngClass]="{'is-invalid': !cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)}"
                #cmbGear="ngModel" required [(ngModel)]="formInput.county">
                <option value>Albania</option>
              </select>
              <label *ngIf="!cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)"
                id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">The
                City selection should be required.</label>
            </div>
            <div class="form-group">
              <label class="form-label">State</label>
              <select class="form-control" name="validation-cmbGear"
                [ngClass]="{'is-invalid': !cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)}"
                #cmbGear="ngModel" required [(ngModel)]="formInput.county">
                <option value>North Carolina</option>
              </select>
              <label *ngIf="!cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)"
                id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">The
                State selection should be required.</label>
            </div>
            <div class="form-group">
              <label class="form-label">County</label>
              <select class="form-control" name="validation-cmbGear"
                [ngClass]="{'is-invalid': !cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)}"
                #cmbGear="ngModel" required [(ngModel)]="formInput.county">
                <option value>Charollete</option>
              </select>
              <label *ngIf="!cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)"
                id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">The
                County selection should be required.</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Company Address</label>
              <textarea class="form-control" name="validation-address"
                [ngClass]="{'is-invalid': !address.valid && (address.dirty || address.touched || isSubmit)}"
                #address="ngModel" required [(ngModel)]="formInput.comp_address"></textarea>
              <label *ngIf="!address.valid && (address.dirty || address.touched || isSubmit)"
                id="validation-address-error" class="error jquery-validation-error small form-text invalid-feedback">The
                address field should be required.</label>
            </div>
            <div class="form-group">
              <label class="form-label">Company Type</label>
              <select class="form-control" name="validation-cmbGear"
                [ngClass]="{'is-invalid': !cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)}"
                #cmbGear="ngModel" required [(ngModel)]="formInput.comp_type">
                <option *ngFor="let element of dddetails" [value]="element.dd_list_name ">{{element.dd_list_name}}</option>
              </select>
              <label *ngIf="!cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)"
                id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">The
                Company Type selection should be required.</label>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="button" uiSref="work" class="btn btn-primary btn-raised" (click)="addCompany(validationForm)"> Submit
            <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
        </div>
      </form>
    </app-card>
  </div>
</div>