<div class="row">
  <div class="col-sm-12">
    <h5>Details</h5>
    <hr>
    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle><b>Properties</b></ng-template>
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
            retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
            placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle><b>Bank Details</b></ng-template>
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <div class="float-right">
              <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-bankmodal-xl">Add
                New</button>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Account Type</th>
                  <th>Account Number</th>
                  <th>Routing Number</th>
                  <th>Active</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of bankdet">
                  <td>{{element.acct_type}}</td>
                  <td>{{element.account_number}}</td>
                  <td>{{element.routing_number}}</td>
                  <td>
                    <div class="checkbox checkbox-fill d-inline">
                      <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="{{element.active}}"
                        disabled>
                      <label for="checkbox-fill-a1" class="cr"></label>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="editw9Data(element)">Update</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle><b>W9 Form</b></ng-template>
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <div class="float-right">
              <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-w9modal-xl">Add New</button>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Tax Identification Number</th>
                  <th>Period From</th>
                  <th>Period To</th>
                  <th>W9 File</th>
                  <th>Active</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of w9details">
                  <td>{{element.tax_id_num}}</td>
                  <td>{{element.from_date}}</td>
                  <td>{{element.to_date}}</td>
                  <td>{{element.file_name}}</td>
                  <td>
                    <div class="checkbox checkbox-fill d-inline">
                      <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="{{element.active}}"
                        disabled>
                      <label for="checkbox-fill-a1" class="cr"></label>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="editw9Data(element)">Update</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
<!-- [routerLink]="['/owner/add/addowner']" -->

<!-- W9 Modal -->
<div class="modal fade bd-example-w9modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeW9ModalLabel"
  aria-hidden="true" [ngClass]="{'show': showW9}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">W9 Upload</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showW9=false">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12">
            <form [formGroup]="w9Form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Federal Tax Classification</label>
                    <select name="p_w9_tin_type" class="form-control" formControlName="p_w9_tin_type">
                      <option *ngFor="let element of ddlistname" [value]="element.dd_det_id">{{element.dd_value}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="tin">Tax Identification Number(TIN)</label>
                    <input name="p_w9_tin_number" formControlName="p_w9_tin_number" type="text" class="form-control"
                      id="tin" aria-describedby="tin" placeholder="XXX-XX-XXXX" [textMask]="{mask: maskTIN}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Country</label>
                    <select class="form-control" (change)="OnCountrySelect($event)" formControlName="p_w9_country">
                      <option *ngFor="let element of country" [value]="element.country_id">{{element.country_name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">State</label>
                    <select class="form-control" (change)="OnStateSelect($event)" formControlName="p_w9_state">
                      <option *ngFor="let element of state" [value]="element.state_id">{{element.state_name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">County</label>
                    <select class="form-control" (change)="OnCountySelect($event)" formControlName="p_w9_county">
                      <option *ngFor="let element of county" [value]="element.county_id">{{element.county_name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">City</label>
                    <select class="form-control" (change)="OnCitySelect($event)" formControlName="p_w9_city">
                      <option>----------Select City-------------</option>
                      <option *ngFor="let element of city" [value]="element.city_name">{{element.city_name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Zip Code</label>
                    <input type="text" class="form-control" formControlName="p_w9_zip" name="p_w9_zip"
                      [typeahead]="zipCode" [typeaheadOptionsLimit]="9" [typeaheadMinLength]="0" appZipcode>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="address" class="form-label">Address</label>
                    <textarea id="address" type="text" class="form-control" formControlName="p_w9_address">
                        </textarea>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="period">Select From Year</label>
                    <input class="form-control" #p_w9_year_from="bsDatepicker" bsDatepicker
                      [bsConfig]="datepickerConfig" placeholder="Enter From Year" formControlName="p_w9_year_from">
                  </div>
                </div>


                <div class="col-md-6">
                  <div class="form-group">
                    <label for="period">Select To Year</label>
                    <input class="form-control" #p_w9_year_to="bsDatepicker" bsDatepicker [bsConfig]="datepickerConfig"
                      placeholder="Enter To Year" formControlName="p_w9_year_to">
                    <!-- <input name="p_w9_year" type="text" class="form-control" id="period" aria-describedby="period"
                        placeholder="Enter Year" formControlName="p_w9_year" ngbTooltip="For w9 form specification"
                        placement="top"> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputGroupFile04">Upload W9</label>
                    <input type="file" #fileUploader id="inputGroupFile04" (change)="getBase64($event)"
                      class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="comments">Notes</label>
                    <textarea id="comments" type="text" class="form-control" placeholder="Enter comments"
                      formControlName="p_comments"></textarea>
                  </div>
                </div>
                <div class="col-md-6 mt-5" *ngIf="isSubmitted">
                  <div class="form-group">
                    <div class="checkbox checkbox-fill d-inline">
                      <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked disabled>
                      <label for="checkbox-fill-a1" class="cr">Active</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-5" *ngIf="isShowCheckBox">
                  <div class="form-group">
                    <div class="checkbox checkbox-fill d-inline">
                      <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked
                        formControlName="p_active">
                      <label for="checkbox-fill-a1" class="cr">Active</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="uploadw9()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showW9=false">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Bank Details Modal -->
<div class="modal fade bd-example-bankmodal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeBankModalLabel"
  aria-hidden="true" [ngClass]="{'show': showBankModal}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Owner Bank Details</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showBankModal=false">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12">
            <form [formGroup]="bankForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Account Type</label>
                    <select name="p_acct_type" class="form-control" formControlName="p_acct_type">
                      <option *ngFor="let element of accDDType" [value]="element.dd_det_id">{{element.dd_value}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="tin">Account Number</label>
                    <input name="p_account_number" formControlName="p_account_number" type="text" class="form-control"
                      id="tin" aria-describedby="tin" placeholder="Enter Account Number" maxlength="18">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="tin">Routing Number</label>
                    <input name="p_routing_number" formControlName="p_routing_number" type="text" class="form-control"
                      id="tin" aria-describedby="tin" placeholder="Enter Routing Number" maxlength="9">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Country</label>
                    <select class="form-control" (change)="OnCountrySelect($event)" formControlName="p_usr_country">
                      <option *ngFor="let element of country" [value]="element.country_id">{{element.country_name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">State</label>
                    <select class="form-control" (change)="OnStateSelect($event)" formControlName="p_usr_state">
                      <option *ngFor="let element of state" [value]="element.state_id">{{element.state_name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">County</label>
                    <select class="form-control" (change)="OnCountySelect($event)" formControlName="p_usr_county">
                      <option *ngFor="let element of county" [value]="element.county_id">{{element.county_name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">City</label>
                    <select class="form-control" (change)="OnCitySelect($event)" formControlName="p_city_name">
                      <option>----------Select City-------------</option>
                      <option *ngFor="let element of city" [value]="element.city_name">{{element.city_name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Zip Code</label>
                    <input type="text" class="form-control" formControlName="p_usr_zip" name="p_usr_zip"
                      [typeahead]="zipCode" [typeaheadOptionsLimit]="9" [typeaheadMinLength]="0" appZipcode>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="address" class="form-label">Address</label>
                    <textarea id="address" type="text" class="form-control" formControlName="p_address">
                        </textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="comments">Notes</label>
                    <textarea id="comments" type="text" class="form-control" placeholder="Enter comments"
                      formControlName="p_comments"></textarea>
                  </div>
                </div>
                <div class="col-md-6 mt-5" *ngIf="isSubmitted">
                  <div class="form-group">
                    <div class="checkbox checkbox-fill d-inline">
                      <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked disabled>
                      <label for="checkbox-fill-a1" class="cr">Active</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-5" *ngIf="isShowCheckBox">
                  <div class="form-group">
                    <div class="checkbox checkbox-fill d-inline">
                      <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked
                        formControlName="p_active">
                      <label for="checkbox-fill-a1" class="cr">Active</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="addBankDetails()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showBankModal=false">Close</button>
      </div>
    </div>
  </div>
</div>