<div class="navbar-brand header-logo">
  <a [routerLink]="['/default/dashboard']" class="b-brand">
    <div class="b-bg">
      <i class="fa fa-building"></i>
    </div>
    <span class="b-title">PMS</span>
  </a>
  <a href="javascript:" class="mobile-menu" [ngClass]="{'on' : navCollapsed}" id="mobile-collapse" (click)="navCollapse()"><span></span></a>
</div>
