<div class="container">
  <div class="col-xl-12">
    <app-card cardTitle="Terminate Lease" [options]="false">
      <form [formGroup]="terminateform">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Choose a Lease<span class="required">*</span></label>
              <select class="form-control" formControlName="p_tnt_cont_id">
                <option *ngFor="let element of leaseDetails" [value]="element.prop_id">{{element.prop_name}}
                </option>
              </select>
              <div *ngIf="f.p_tnt_cont_id.touched && f.p_tnt_cont_id.invalid" class="alert alert-danger">
                <div *ngIf="f.p_tnt_cont_id.errors?.required">Choose a Lease.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Select Termination Date<span class="required">*</span></label>
              <input class="form-control" #p_trm_date="bsDatepicker" bsDatepicker formControlName="p_trm_date"
                [bsConfig]="datepickerConfig" placeholder="MM-DD-YYYY">
              <div *ngIf="f.p_trm_date.touched && f.p_trm_date.invalid" class="alert alert-danger">
                <div *ngIf="f.p_trm_date.errors?.required">Select Termination Date.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Select Reason<span class="required">*</span></label>
              <select class="form-control" formControlName="p_rsn_id" name="p_rsn_id">
                <option *ngFor="let element of reason" [value]="element.dd_det_id">{{element.dd_value}}</option>
              </select>
              <div *ngIf="f.p_rsn_id.touched && f.p_rsn_id.invalid" class="alert alert-danger">
                <div *ngIf="f.p_rsn_id.errors?.required">Select Reason.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="comments" class="form-label">Comments(Max. 1500 characters)<span
                  class="required">*</span></label>
              <textarea type="text" class="form-control" name="p_address" id="comments" formControlName="p_rsn_cmts">
              </textarea>
              <div *ngIf="f.p_rsn_cmts.touched && f.p_rsn_cmts.invalid" class="alert alert-danger">
                <div *ngIf="f.p_rsn_cmts.errors?.required">Select Reason.</div>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <button class="btn btn-primary" type="submit" (click)="terminateLease()">Submit</button>
          <button class="btn btn-danger" type="button" [routerLink]="['/lease/search']">Back</button>
        </div>
      </form>
    </app-card>
  </div>
</div>