<div class="form-group">
  <button class="btn btn-primary" type="button" [routerLink]="['/lease']">Add New</button>
</div>
<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Lease" [options]="false" blockClass="table-border-style">
      <div class="row">
        <div class="col-md-6" style="float: right;">
          <div class="form-group">
            <input type="text" placeholder="Search by Tenant's Last Name" [(ngModel)]="searchText" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <b>Data is filtered by : {{searchText}}</b>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Tenant Name</th>
              <th>Property Name</th>
              <th>Start Date</th>
              <th>End date</th>
              <th>Terminate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of leaseDetails | filter:searchText | paginate: { id: 'foo',
            itemsPerPage: 10,
            currentPage: p,
            totalItems: totalRecords }">
              <td>{{element.tnt_full_name}}</td>
              <td>{{element.prop_name}}</td>
              <td>{{element.cont_from | date:"MM/dd/yyyy"}}</td>
              <td>{{element.cont_to | date:"MM/dd/yyyy"}}</td>
              <td>
                <button type="button" class="btn btn-default" (click)="terminateLease(element)"><i class="fas fa-edit"
                    title="Terminate"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="float-right">
          <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </app-card>
  </div>
</div>
<!-- tenant_cont_id: 1
tenant_id: 5
contract_name: "eee"
prop_id: 1
cont_from: "2020-04-15T00:00:00"
cont_to: "2020-04-30T00:00:00"
rent_amt: 3000
terminate_date: "2020-04-15T23:17:09.1179076+05:30"
terminate_rsn: ""
active: true
contract_type_desc: "Lease"
terminate_rsn_desc: ""
tnt_fname: "def"
usr_mname: ""
usr_lname: "fgh"
tnt_full_name: "def fgh"
prop_name: "DEFT"
prop_address: "South Street"
comments: "" -->