/* You can add global styles to this file, and also import other style files */

@import "scss/variables";

/* fonts-icon */
@import "scss/fonts/fontawesome/scss/fontawesome";
@import "scss/fonts/feather/iconfont";

@import url("scss/fonts/datta/datta-icons.css"); /** custom font icons - datta **/
@import "scss/general";
@import "scss/generic";
@import "scss/mixins/function";

/* important element */
@import "scss/menu/menu-lite";
@import "scss/widget/widget";

/* basic elements */
@import "scss/theme-elements/theme-elements";

/* advance-other elements */
@import "scss/other/other";

/* third party modules style*/
@import "scss/plugins/plugins";

@import "scss/layout/layout";
@import "scss/custom";

@import "../node_modules/ngx-toastr/toastr.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bs-stepper/dist/css/bs-stepper.min.css";
@import url("https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js");
@import url("https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js");

.dataTables_empty {
    display: none;
}
