<app-card cardTitle="Properties" [options]="false">
  <div class="container">
    <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header">
        <div class="step" data-target="#test-l-1">
          <button class="step-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Property Details</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-2">
          <button class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Room Details</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">
        <form [formGroup]="form">
          <div id="test-l-1" class="content">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Property Zoning<span class="required">*</span></label>
                  <select class="form-control" formControlName="p_prop_zone" name="p_prop_zone">
                    <option *ngFor="let element of pz" [value]="element.dd_det_id">{{element.dd_value}}</option>
                  </select>
                  <div *ngIf="f.p_prop_zone.touched && f.p_prop_zone.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_prop_zone.errors?.required">Property Zoning is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Property type<span class="required">*</span></label>
                <select class="form-control" formControlName="p_prop_type" name="p_prop_type">
                  <option *ngFor="let element of pt" [value]="element.dd_det_id">{{element.dd_value}}</option>
                </select>
                <div *ngIf="f.p_prop_type.touched && f.p_prop_type.invalid" class="alert alert-danger">
                  <div *ngIf="f.p_prop_type.errors?.required">Property type is required.</div>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Property Name<span class="required">*</span></label>
                  <input type="text" class="form-control" formControlName="p_prop_name" name="p_prop_name">
                </div>
                <div *ngIf="f.p_prop_name.touched && f.p_prop_name.invalid" class="alert alert-danger">
                  <div *ngIf="f.p_prop_name.errors?.required">Property Name is required.</div>
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">No of Floors<span class="required">*</span></label>
                  <input type="number" class="form-control" placeholder="Number of Floors"
                    formControlName="p_total_floor" name="p_total_floor">
                  <div *ngIf="f.p_total_floor.touched && f.p_total_floor.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_total_floor.errors?.required">Enter Number of Floors.</div>
                    <div *ngIf="f.p_total_floor.errors?.range">Enter values between 1 to 99.</div>
                    <div *ngIf="f.p_total_floor.errors?.alphaValid">Enter values between 1 to 99.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ContactName">Property Size<span class="required">*</span></label>
                  <input type="number" class="form-control" id="ContactName" aria-describedby="ContactName"
                    placeholder="Enter Property Size in sq.ft" formControlName="p_prop_size" name="p_prop_size">
                  <div *ngIf="f.p_prop_size.touched && f.p_prop_size.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_prop_size.errors?.required">Enter Property Size in sq.ft.</div>
                    <div *ngIf="f.p_prop_size.errors?.sizerange">Enter values between 1 to 99999.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Property Age<span class="required">*</span></label>
                  <select class="form-control" name="p_prop_age" formControlName="p_prop_age">
                    <option *ngFor="let element of pa" [value]="element.dd_det_id">{{element.dd_value}}</option>
                  </select>
                  <div *ngIf="f.p_prop_age.touched && f.p_prop_age.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_prop_age.errors?.required">Select Property Age from the list.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Property Mode<span class="required">*</span></label>
                  <select class="form-control" formControlName="p_prop_mode" name="p_prop_mode">
                    <option *ngFor="let element of pm" [value]="element.dd_det_id">{{element.dd_value}}</option>
                  </select>
                  <div *ngIf="f.p_prop_mode.touched && f.p_prop_mode.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_prop_mode.errors?.required">Select Property Mode from the list.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Property Status<span class="required">*</span></label>
                  <select class="form-control" formControlName="p_prop_status">
                    <option *ngFor="let element of ps" [value]="element.dd_det_id">{{element.dd_value}}</option>
                  </select>
                  <div *ngIf="f.p_prop_status.touched && f.p_prop_status.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_prop_status.errors?.required">Select Property Status from the list.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ContactName">Neighborhood</label>
                  <input type="text" formControlName="p_comments" class="form-control" id="ContactName"
                    aria-describedby="ContactName">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Country<span class="required">*</span></label>
                  <select class="form-control" formControlName="p_country" name="p_country"
                    (change)="OnCountrySelect($event)">
                    <option *ngFor="let element of country" [value]="element.country_id">{{element.country_name}}
                    </option>
                  </select>
                  <div *ngIf="f.p_country.touched && f.p_country.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_country.errors?.required">Select Country from the list.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">State<span class="required">*</span></label>
                  <select class="form-control" formControlName="p_state" name="p_state"
                    (change)="OnStateSelect($event)">
                    <option *ngFor="let element of state" [value]="element.state_id">{{element.state_name}}</option>
                  </select>
                  <div *ngIf="f.p_state.touched && f.p_state.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_state.errors?.required">Select State from the list.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">County<span class="required">*</span></label>
                  <select class="form-control" formControlName="p_county" name="p_county"
                    (change)="OnCountySelect($event)">
                    <option *ngFor="let element of county" [value]="element.county_id">{{element.county_name}}</option>
                  </select>
                  <div *ngIf="f.p_county.touched && f.p_county.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_county.errors?.required">Select County from the list.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">City<span class="required">*</span></label>
                  <select class="form-control" formControlName="p_city" name="p_city"
                    (change)="OnCitySelect($event)">
                    <option>----------Select City-------------</option>
                    <option *ngFor="let element of city" [value]="element.city_name">{{element.city_name}}</option>
                  </select>
                  <div *ngIf="f.p_city.touched && f.p_city.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_city.errors?.required">Select City from the list.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Zip Code<span class="required">*</span></label>
                  <input type="text" class="form-control" formControlName="p_zip" name="p_zip" [typeahead]="zipCode"
                    [typeaheadOptionsLimit]="9" [typeaheadMinLength]="0" appZipcode placeholder="Zip Code">
                </div>
                <div *ngIf="f.p_zip.touched && f.p_zip.invalid" class="alert alert-danger">
                  <div *ngIf="f.p_zip.errors?.required">Enter Zip Code.</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="body">Property Address<span class="required">*</span></label>
                  <textarea type="text" class="form-control" formControlName="p_address" name="p_address">
                    </textarea>
                  <div *ngIf="f.p_address1.touched && f.p_address1.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_address1.errors?.required">Select Property Address.</div>
                  </div>
                </div>
              </div>
            </div>
            <div style="text-align: center;">
              <button (click)="next()" class="btn btn-primary" style="margin-top: 7px;">Enter Room
                Details</button>
              <button [routerLink]="['/property/add']" type="button" class="btn btn-danger"
                style="margin-top: 7px;">Back</button>
            </div>
          </div>
          <div id="test-l-2" class="content">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Enter No of BedRooms<span class="required">*</span></label>
                  <input type="number" name="noOfRooms" class="form-control" max="15" formControlName="p_room_count">
                </div>
                <div *ngIf="f.p_room_count.touched && f.p_room_count.invalid" class="alert alert-danger">
                  <div *ngIf="f.p_room_count.errors?.required">Enter number of BedRooms.</div>
                  <div *ngIf="f.p_room_count.errors?.range">Enter values between 1 to 99.</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Enter No of Bathroom<span class="required">*</span></label>
                  <input type="number" name="noOfRooms" class="form-control" max="15" formControlName="p_no_of_bath">
                </div>
                <div *ngIf="f.p_no_of_bath.touched && f.p_no_of_bath.invalid" class="alert alert-danger">
                  <div *ngIf="f.p_no_of_bath.errors?.required">Enter number of Bathroom.</div>
                  <div *ngIf="f.p_no_of_bath.errors?.range">Enter values between 1 to 99.</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Floor Type<span class="required">*</span></label>
                  <select class="form-control" formControlName="p_floor" name="p_floor">
                    <option *ngFor="let element of ft" [value]="element.dd_det_id">{{element.dd_value}}</option>
                  </select>
                  <div *ngIf="f.p_floor.touched && f.p_floor.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_floor.errors?.required">Select Floor Type.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Parking Space<span class="required">*</span></label>
                  <input type="number" class="form-control" formControlName="p_parking_space" name="p_parking_space"
                    max="5" min="0">
                  <div *ngIf="f.p_parking_space.touched && f.p_parking_space.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_parking_space.errors?.required">Enter Parking Space.</div>
                    <div *ngIf="f.p_parking_space.errors?.space">Enter values between 1 to 5.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Gas Provision Provider<span class="required">*</span></label>
                  <input type="text" class="form-control" formControlName="p_gas_prov">
                  <div *ngIf="f.p_gas_prov.touched && f.p_gas_prov.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_gas_prov.errors?.required">Enter Gas Provision Provider.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Gas Provision Provider Contact<span class="required">*</span></label>
                  <input type="text" [textMask]="{mask: maskTeleUS}" class="form-control" formControlName="p_gas_ph">
                  <div *ngIf="f.p_gas_ph.touched && f.p_gas_ph.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_gas_ph.errors?.required">Enter Gas Provision Provider Contact.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Electricity Provision Provider<span class="required">*</span></label>
                  <input type="text" class="form-control" formControlName="p_elect_prov" name="p_elect_prov">
                  <div *ngIf="f.p_elect_prov.touched && f.p_elect_prov.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_elect_prov.errors?.required">Enter Electricity Provision Provider.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Electricity Provision Provider Contact<span class="required">*</span></label>
                  <input type="text" [textMask]="{mask: maskTeleUS}" class="form-control" formControlName="p_elect_ph">
                  <div *ngIf="f.p_elect_ph.touched && f.p_elect_ph.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_elect_ph.errors?.required">Enter Electricity Provision Provider Contact.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Water Provision Provider<span class="required">*</span></label>
                  <input type="text" class="form-control" formControlName="p_water_prov" name="p_water_prov">
                  <div *ngIf="f.p_water_prov.touched && f.p_water_prov.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_water_prov.errors?.required">Enter Water Provision Provider.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Water Provision Provider Contact<span class="required">*</span></label>
                  <input type="text" [textMask]="{mask: maskTeleUS}" class="form-control" formControlName="p_water_ph"
                    name="p_water_ph">
                  <div *ngIf="f.p_water_ph.touched && f.p_water_ph.invalid" class="alert alert-danger">
                    <div *ngIf="f.p_water_ph.errors?.required">Enter Water Provision Provider Contact.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Other Amenities</label>
                  <input type="text" class="form-control" formControlName="p_amenities" name="p_amenities">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="comments">Notes</label>
                  <textarea id="comments" type="text" class="form-control" placeholder="Enter comments"></textarea>
                </div>
              </div>
              <div class="col-md-6 mt-5" *ngIf="isSubmitted">
                <div class="form-group">
                  <div class="checkbox checkbox-fill d-inline">
                    <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked disabled>
                    <label for="checkbox-fill-a1" class="cr">Active</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-5" *ngIf="isShowCheckBox">
                <div class="form-group">
                  <div class="checkbox checkbox-fill d-inline">
                    <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked
                      formControlName="p_active">
                    <label for="checkbox-fill-a1" class="cr">Active</label>
                  </div>
                </div>
              </div>
            </div>
            <div style="text-align: center;">
              <button type="button" (click)="previous()" class="btn btn-danger mt-5">Back</button>
              <button type="submit" class="btn btn-primary mt-5" (click)="addProperty()">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-card>