<app-card cardTitle="Property Details" [options]="false">
  <aw-wizard #wizard class="arc-wizard">
    <aw-wizard-step stepTitle="Enter New Property Details">
      <div class="row">
        <div class="col-sm-12">
          <h5>Enter New Property Details</h5>
          <hr>
          <form [formGroup]="form">
            <div class="form-group">
              <label class="form-label">Property Zoning</label>
              <select class="form-control" formControlName="p_prop_zone" name="p_prop_zone">
                <option value=6>Commercial</option>
                <option value=7>Residential</option>
                <option value=8>RTL</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Property type</label>
              <select class="form-control" formControlName="p_prop_type" name="p_prop_type">
                <option value=52>Single Unit</option>
                <option value=53>Multi Unit</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Property Name</label>
              <input type="text" class="form-control" formControlName="p_prop_name" name="p_prop_name">
              <!-- <div *ngIf="f.comp_name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_name.errors.required">Company Name is required.</div>
                <div *ngIf="f.comp_name.errors.minlength">Company Name should be 15 character.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="body">Property Address</label>
              <textarea type="text" class="form-control" formControlName="p_address" name="p_address">
                </textarea>
              <!-- <div *ngIf="f.comp_address.touched && f.comp_address.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_address.errors.required">Company Address is required.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="body">Property Address1</label>
              <textarea type="text" class="form-control" formControlName="p_address" name="p_address1">
                </textarea>
              <!-- <div *ngIf="f.comp_address.touched && f.comp_address.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_address.errors.required">Company Address is required.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label class="form-label">State</label>
              <select class="form-control" formControlName="p_state" name="p_state">
                <option value=1>North Carolina</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">County</label>
              <select class="form-control" formControlName="p_county" name="p_county">
                <option value=1>Elmore</option>
                <option value=2>Texas</option>
                <option value=3>Horton</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">City</label>
              <select class="form-control" formControlName="p_city" name="p_city">
                <option value=1>Cordova</option>
                <option value=2>New York</option>
                <option value=3>Chicago</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Zip Code</label>
              <input type="text" class="form-control" placeholder="Zip Code" formControlName="p_zip" name="p_zip">
            </div>
            <div class="form-group">
              <label class="form-label">Country</label>
              <select class="form-control" formControlName="p_county" name="p_county">
                <option value=1>Cordova</option>
                <option value=2>ABC</option>
                <option value=3>WWW</option>
                <option value=3>ORG</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Floor Type</label>
              <select class="form-control" formControlName="p_bhk" name="p_bhk">
                <option value=15>Wood</option>
                <option value=15>Wood</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">BHK Type</label>
              <select class="form-control" formControlName="p_bhk" name="p_bhk">
                <option value=10>1BHK</option>
                <option value=11>2BHK</option>
                <option value=12>3BHK</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ContactName">Property Size</label>
              <input type="text" class="form-control" id="ContactName" aria-describedby="ContactName"
                placeholder="Enter Property Size" formControlName="p_prop_size" name="p_prop_size">
            </div>
            <div class="form-group">
              <label class="form-label">Property Age</label>
              <select class="form-control" formControlName="p_prop_mode" name="p_prop_mode">
                <option value=54>0-5</option>
                <option value=55>5-10</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Property Mode</label>
              <select class="form-control" formControlName="p_prop_mode" name="p_prop_mode" >
                <option value=20>LEA</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Property Status</label>
              <select class="form-control" formControlName="p_prop_status">
                <option value="furnished">Furnished</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ContactName">Neighborhood</label>
              <input type="text" class="form-control" id="ContactName" aria-describedby="ContactName"
                placeholder="Enter Admin First name">
            </div>
            <div class="form-group">
              <label class="form-label">Select No of Rooms</label>
              <select class="form-control">
                <option>1</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Select Floor type</label>
              <select class="form-control">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Gas Provision Provider</label>
              <input type="text" class="form-control" formControlName="p_gas_prov">
              <!-- <div *ngIf="f.comp_name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_name.errors.required">Company Name is required.</div>
                <div *ngIf="f.comp_name.errors.minlength">Company Name should be 15 character.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="name">Gas Provision Provider Contact</label>
              <input type="text" class="form-control" formControlName="p_gas_ph">
              <!-- <div *ngIf="f.comp_name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_name.errors.required">Company Name is required.</div>
                <div *ngIf="f.comp_name.errors.minlength">Company Name should be 15 character.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="name">Electricity Provision Provider</label>
              <input type="text" class="form-control" formControlName="p_elect_prov" name="p_elect_prov">
              <!-- <div *ngIf="f.comp_name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_name.errors.required">Company Name is required.</div>
                <div *ngIf="f.comp_name.errors.minlength">Company Name should be 15 character.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="name">Electricity Provision Provider Contact</label>
              <input type="number" class="form-control" formControlName="p_elect_ph">
              <!-- <div *ngIf="f.comp_name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_name.errors.required">Company Name is required.</div>
                <div *ngIf="f.comp_name.errors.minlength">Company Name should be 15 character.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="name">Water Provision Provider</label>
              <input type="text" class="form-control" formControlName="p_water_prov" name="p_parking_space">
              <!-- <div *ngIf="f.comp_name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_name.errors.required">Company Name is required.</div>
                <div *ngIf="f.comp_name.errors.minlength">Company Name should be 15 character.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="name">Water Provision Provider Contact</label>
              <input type="number" class="form-control" formControlName="p_water_ph" name="p_water_ph">
              <!-- <div *ngIf="f.comp_name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_name.errors.required">Company Name is required.</div>
                <div *ngIf="f.comp_name.errors.minlength">Company Name should be 15 character.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label class="form-label">Parking Space</label>
              <select class="form-control" formControlName="p_parking_space" name="p_parking_space"> 
                <option>1</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Effective Date</label>
              <input type="datetime-local" id="localDatetimeDefault" class="form-control" placeholder="Local Datetime" formControlName="p_eff_date" name="p_eff_date">
            </div>
            <div class="form-group">
              <label class="form-label">End Date</label>
              <input type="datetime-local" id="localDatetimeDefault" class="form-control" placeholder="Local Datetime" formControlName="p_eff_date" name="p_end_date">
            </div>
            <div class="form-group">
              <label for="name">Other Amenities</label>
              <input type="text" class="form-control" formControlName="p_amenities" name="p_amenities">
              <!-- <div *ngIf="f.comp_name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.comp_name.errors.required">Company Name is required.</div>
                <div *ngIf="f.comp_name.errors.minlength">Company Name should be 15 character.</div>
              </div> -->
            </div>
          </form>
          <!-- <h6>Sub title 1</h6>
          <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text.</p>
          <h6 class="mt-3">Sub title 2</h6>
          <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p> -->
        </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-primary btn-sm" (click)="addProperty()">Submit</button>
          </div>
        </div>
      </div>
    </aw-wizard-step>
    <!-- <aw-wizard-step stepTitle="Enter Property Room & amenities">
      <div class="row">
        <div class="col-sm-12">
          <h5>Enter Property Room & amenities</h5>
          <hr>
        </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" awPreviousStep>Back</button>
            <button type="button" class="btn btn-primary btn-sm" awNextStep>Finish</button>
          </div>
        </div>
      </div>
    </aw-wizard-step> -->
    <!-- <aw-wizard-step stepTitle="Address">
      <div class="row">
        <div class="col-sm-12">
          <h5>Address Title</h5>
          <hr>
          <h6>Sub title 1</h6>
          <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content
              content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text.</p>
          <h6 class="mt-3">Sub title 2</h6>
          <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text.</p>
        </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" awPreviousStep>Back</button>
            <button type="button" class="btn btn-primary btn-sm" awNextStep>Continue</button>
          </div>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Finished">
      <div class="row">
        <div class="col-sm-12">
          <h5>Finished Title</h5>
          <hr>
          <h6>Sub title 1</h6>
          <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content
              content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text.</p>
          <h6 class="mt-3">Sub title 2</h6>
          <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text.</p>
        </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" awPreviousStep>Back</button>
            <button type="button" class="btn btn-success btn-sm" awResetWizard>Finished</button>
          </div>
        </div>
      </div>
    </aw-wizard-step> -->
  </aw-wizard>
</app-card>