<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Company User Management" [options]="false" blockClass="table-border-style">
      <div class="col-md-6" style="float: right;">
        <div class="form-group">
          <input type="text" placeholder="Search..." [(ngModel)]="searchText" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <b>Data is filtered by : {{searchText}}</b>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>User Role</th>
              <th>Action</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of details | filter:searchText | paginate: { id: 'foo',
          itemsPerPage: 10,
          currentPage: p,
          totalItems: totalRecords }">
              <td>{{element.manager_fullname}}</td>
              <td>{{element.manager_mail}}</td>
              <td>{{element.user_type}}</td>
              <td>
                <!-- <button class="btn btn-primary" type="button" (click)="editManager($element)">Edit</button> user_type-->
                <button type="button" class="btn btn-default" (click)="editManager(element)"><i class="fas fa-edit"
                    title="Edit"></i></button>
              </td>
              <td>
                <div class="checkbox checkbox-fill d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="{{element.active}}"
                    disabled>
                  <label for="checkbox-fill-a1" class="cr"></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="float-right">
          <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </app-card>
  </div>