<ul class="navbar-nav">
  <!--<li appToggleFullScreen><a href="javascript:" class="full-screen"><i class="feather icon-maximize"></i></a></li>-->
  <li appToggleFullScreen><a style="text-decoration: none;" class="full-screen">{{ username }}</a></li>
  <li class="nav-item">
    <!-- <app-nav-search></app-nav-search> -->
  </li>
</ul>